@model e_Shop.ViewModel.EditUserViewModel
@{ ViewBag.Title = "Edit user"; }

<form asp-action="Edit" asp-controller="Admin">
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>